.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  color: white;
  background: transparent;
}


/* Judul */
.hero-content h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
  font-weight: 600;
  color: #222;
}

/* Subjudul */
.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #444;
}

/* Tombol */
.hero-content button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ffcc00;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-content button:hover {
  background-color: #e6b800;
}
