.project {
  background: transparent;
  color: #222;
  padding: 3rem 2rem;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.project h2 {
  margin-bottom: 10px;
}

.project p {
  max-width: 600px;
  margin: 0 auto;
}

